.taskWrapper {
    min-height: 20px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: relative;
}

.taskWrapper:focus {
    cursor: grabbing;
}

.checkboxAndTitleWrapper {
    display: flex;
    align-items: center;
    gap: 10px
}

.buttonsAndIconsWrapper {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.iconsWrapper {
    display: flex;
    align-items: center;
    cursor: grab;
}