.editableSpanWrapper {
    justify-self: flex-start;
    position: relative;
}

.input {
    background-color: #f9f9f9;
    outline: none;
    border: 0;
    border-bottom: 2px solid black;
}
.strikethrough::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    margin: 0 auto;
    height: 2px;
    background-color: #373937;
    transform: translate(-50%);
}

.taskText {
    max-width: 100%;
    width: 100%;
}

.taskText.isDone {
    color: #ccc;
}
