.collapseArrowWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.arrow.open {
    transform: rotate(90deg);
}